# Joining Data in Pandas

In [1]:
import pandas as pd
import numpy as np

## Inner Join
An inner join is simply the intersection of two dataframes. The new dataframe returned will have rows that have matching values in both tables. <br>
_PS: if there exists other common columns add the "suffixes" - a tuple of what you want the columns to end with that will distinguish common columns from different dataframes._ <br>
__syntax__ <br>
`newDF = leftDF.merge(rightDF, on='common column', suffixes=('_left','_right'))`

### Relationships
1. __one-to-one:__ each row in the leftDF corresponds to only one row in the rightDF
2. __one-to-many:__ each row in the leftDF corresponds to more than one row in the rightDF

In [2]:
firstdf = pd.DataFrame([['A', 1], ['B', 2]],
                     columns = ['alf', 'num'])
firstdf

  alf  num
0   A    1
1   B    2

In [3]:
secdf = pd.DataFrame([['A', 'I'], ['B', 'II'], ['C', 'III']],
                      columns = ['alf', 'rom'])
secdf

  alf  rom
0   A    I
1   B   II
2   C  III

In [4]:
thirddf = pd.DataFrame([['A', 'alpha'], ['B', 'gamma'], ['B', 'beta'], ['A', 'lambda'], ['C', 'delta']],
                      columns = ['alf', 'lat'])
thirddf

  alf     lat
0   A   alpha
1   B   gamma
2   B    beta
3   A  lambda
4   C   delta

In [5]:
# ONE-TO-ONE
first_sec = firstdf.merge(secdf, on='alf')
first_sec

  alf  num rom
0   A    1   I
1   B    2  II

In [11]:
# ONE-TO-MANY
first_third = firstdf.merge(thirddf, on='alf')
first_third

  alf  num     lat
0   A    1   alpha
1   A    1  lambda
2   B    2   gamma
3   B    2    beta

In [7]:
sec_third = secdf.merge(thirddf, on='alf')
sec_third

  alf  rom     lat
0   A    I   alpha
1   A    I  lambda
2   B   II   gamma
3   B   II    beta
4   C  III   delta